### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data_df = pd.DataFrame(purchase_data)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
#get a list of all of the unique players
total_number = purchase_data_df["SN"].unique()

#count the number of items in this list
number_of_players = len(total_number)

#create a DataFrame to store and display this data
total_number_df = pd.DataFrame({"Total Players": [number_of_players]})
total_number_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#get the average price per player and store it as a list
averageprice = purchase_data_df['Price'].mean()

#get the count of items per player and store it as a list
numberofuniqueitems = len(purchase_data_df['Item ID'].unique())

#get the average price per unique item
priceperitem = averageprice/numberofuniqueitems

#get the number of purchases
numberofpurchases = purchase_data_df['Purchase ID'].count()

#get the total revenue
totalrevenue = purchase_data_df['Price'].sum()

#use these new values, store and show them in a DataFrame
purchasing_analysis_df = pd.DataFrame({'Number of Unique Items': numberofuniqueitems,
                                       'Average Price': averageprice, 
                                       'Number of Purchases': numberofpurchases,
                                       'Average Price per Item': priceperitem,
                                       'Total Revenue': totalrevenue
                                      }, 
                                      index=['Purchase Analysis'])

#format the columns
purchasing_analysis_df['Average Price'] = purchasing_analysis_df['Average Price'].map('${:.2f}'.format)
purchasing_analysis_df['Average Price per Item'] = purchasing_analysis_df['Average Price per Item'].map('${:.2f}'.format)
purchasing_analysis_df['Total Revenue'] = purchasing_analysis_df['Total Revenue'].map('${:,.2f}'.format)

purchasing_analysis_df

,Number of Unique Items,Average Price,Number of Purchases,Average Price per Item,Total Revenue
Purchase Analysis,183,$3.05,780,$0.02,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#count and percent per gender 
#grab only the two columns that we want to work with
gendercount_df = purchase_data_df[['SN', 'Gender']]

#get rid of the duplicate rows so that there are only unique people
gendercount_df = gendercount_df.drop_duplicates()

#now group the data by Gender
gendercount_group = gendercount_df.groupby('Gender')

#create a dataframe from the values that we want from the groupby
#get the number of people per gender and rename the column
gendercount_summary_df = pd.DataFrame(gendercount_group['SN'].count())
gendercount_summary_df = gendercount_summary_df.rename(columns={'SN':'Count'})

#get the percent of people per gender by using the count column and the number of unique players 
gendercount_summary_df['Percentage'] = gendercount_summary_df['Count']/number_of_players*100

#format the table
gendercount_summary_df = gendercount_summary_df.sort_values(by='Count', ascending=False)
gendercount_summary_df['Percentage'] = gendercount_summary_df['Percentage'].map('{:.2f}%'.format)

gendercount_summary_df

                       Count Percentage
Gender
Male                     484     84.03%
Female                    81     14.06%
Other / Non-Disclosed     11      1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Use Groupby to do analysis on each gender
gendergroup = purchase_data_df.groupby('Gender')

# Purchase Count
genderanalysis_df = pd.DataFrame(gendergroup['Purchase ID'].count())
genderanalysis_df = genderanalysis_df.rename(columns={'Purchase ID':'Purcahse Count'})

# Average Purchase Price
genderanalysis_df['Average Purchase Price'] = gendergroup['Price'].mean()

# Total Purchase Value
genderanalysis_df['Total Purchase Value'] = gendergroup['Price'].sum()

# # Average Purchase Total per Person by Gender
genderanalysis_df['Average Purchase Total per Person'] = genderanalysis_df['Total Purchase Value']/gendercount_summary_df['Count']

# #format the columns
genderanalysis_df['Average Purchase Price'] = genderanalysis_df['Average Purchase Price'].map("${:.2f}".format)
genderanalysis_df['Total Purchase Value'] = genderanalysis_df['Total Purchase Value'].map("${:,.2f}".format)
genderanalysis_df['Average Purchase Total per Person'] = genderanalysis_df['Average Purchase Total per Person'].map("${:.2f}".format)

genderanalysis_df

,Purcahse Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

#create my bins by using
maxage = max(purchase_data_df['Age'])
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
agegroup = ['>10', '10-14', '15-29', '20-24', '25-29', '30-34', '35-39', '40+']

#cut the data using that bin
purchase_data_df['Age Group'] = pd.cut(purchase_data_df['Age'], bins, labels=agegroup)
# purchase_data_df = purchase_data_df.rename(mapper=)

#remove the douplicate values in the SN column so that each player is only recorded once
purchase_data_unique_df = purchase_data_df.drop_duplicates(subset='SN')

# Age Count
#group by Age Group, create a DataFrame of the number of people per age group and rename that newly created column
agegroup = purchase_data_unique_df.groupby(['Age Group'])
agecount_df = pd.DataFrame(agegroup['SN'].count())
agecount_df = agecount_df.rename(columns={'SN': 'Total Count'})

# Age Percentage
#create a new column of the percentage based off of the previous column and the number of unique players
agecount_df['Percent of Players'] = agecount_df['Total Count']/number_of_players*100

# format the data
agecount_df['Percent of Players'] = agecount_df['Percent of Players'].map("{:.2f}%".format)

# energy.rename(index={'Republic of Korea':'South Korea'},inplace=True)
# agecount_df = agecount_df.rename(index={'(0,9]': '>10'})


agecount_df

           Total Count Percent of Players
Age Group
>10                 17              2.95%
10-14               22              3.82%
15-29              107             18.58%
20-24              258             44.79%
25-29               77             13.37%
30-34               52              9.03%
35-39               31              5.38%
40+                 12              2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

#create my bins
maxage = max(purchase_data_df['Age'])
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
agegroup = ['>10', '10-14', '15-29', '20-24', '25-29', '30-34', '35-39', '40+']

#cut the data using that bin
purchase_data_df['Age Group'] = pd.cut(purchase_data_df['Age'], bins, labels=agegroup)
purchase_data_df

# Purchase Count
#group by age group, create a new dataframe of the number of purchases then rename that column
agegroup = purchase_data_df.groupby(['Age Group'])
ageanalysis_df = pd.DataFrame(agegroup['Purchase ID'].count())
ageanalysis_df = ageanalysis_df.rename(columns={'Purchase ID': 'Purchase Count'})

# Average Purchase Price
#create a column of the average price
ageanalysis_df['Average Purchase Price'] = agegroup['Price'].mean()

# Total Purchase Value
#create a column of the total price by multipuling the number of purchases by the average price
ageanalysis_df['Total Purchase Value'] = agegroup['Purchase ID'].count()*agegroup['Price'].mean()

# Average Purchase Total per Person by Age Group
#create a column of the average purchase per person by the total purchase column divided by the number of people per age group
ageanalysis_df['Average Total Purchase per Person'] = ageanalysis_df['Total Purchase Value']/agecount_df['Total Count']

# Format columns
ageanalysis_df['Average Purchase Price'] = ageanalysis_df['Average Purchase Price'].map("${:.2f}".format)
ageanalysis_df['Total Purchase Value'] = ageanalysis_df['Total Purchase Value'].map("${:.2f}".format)
ageanalysis_df['Average Total Purchase per Person'] = ageanalysis_df['Average Total Purchase per Person'].map("${:.2f}".format)

ageanalysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Group,,,,
>10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-29,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

#group by the player name
price_group = purchase_data_df.groupby(['SN'])

#create a dataframe from the sum of each users purchase value, rename that column
TopSpenders_df = pd.DataFrame(price_group['Price'].sum())
TopSpenders_df = TopSpenders_df.rename(columns={'Price':'Total Purchase Value'})

#create a new column of the number of items each user purchased
TopSpenders_df['Purchase Count'] = price_group['Item ID'].count()

#create a new column of the average price by dividing the total price by the count of purchaes
TopSpenders_df['Average Purchase Price'] = TopSpenders_df['Total Purchase Value']/TopSpenders_df['Purchase Count']

#to get the top 5, sort the values in the total purchase calue in desending order
TopSpenders_df = TopSpenders_df.sort_values(by='Total Purchase Value', ascending=False)
#then create a new dataframe by grabing the head() of the DF created above
TopSpenders_summary_df = TopSpenders_df.head()

#format these columns
TopSpenders_summary_df['Total Purchase Value'] = TopSpenders_summary_df['Total Purchase Value'].map("${:.2f}".format)
TopSpenders_summary_df['Average Purchase Price'] = TopSpenders_summary_df['Average Purchase Price'].map("${:.2f}".format)

#reorder the columns
TopSpenders_summary_df = TopSpenders_summary_df[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']]

TopSpenders_summary_df

# SN
# Purchase Count
# Average Purchase Price
# Total Purchase Value

/Users/abby/miniconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/abby/miniconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# Identify the 5 most popular items by purchase count, then list (in a table):
#grab the columns that we wante to play with
purchase_group = purchase_data_df.groupby(['Item ID', 'Item Name'])

#create a DF of a group that counted the number of purchases per item, and rename the column
Popular_Item_df = pd.DataFrame(purchase_group['SN'].count())
Popular_Item_df = Popular_Item_df.rename(columns={'SN': 'Purchase Count'})

#create a new column of the amount spent on each item
Popular_Item_df['Total Purchase Value'] = purchase_group['Price'].sum()

#create a new column of item price by dividing the total price by the number of items purchased
Popular_Item_df['Item Price'] = Popular_Item_df['Total Purchase Value']/Popular_Item_df['Purchase Count']

#sort the dataframe by the purchase count in desending order
Popular_Item_df = Popular_Item_df.sort_values(by='Purchase Count', ascending=False)
#create a new dataframe of the top 5 purchase counts
Popular_Item_summary_df = Popular_Item_df.head()

#format the columns
Popular_Item_summary_df['Item Price'] = Popular_Item_summary_df['Item Price'].map("${:.2f}".format)
Popular_Item_summary_df['Total Purchase Value'] = Popular_Item_summary_df['Total Purchase Value'].map("${:.2f}".format)

#reorder the columns
Popular_Item_summary_df = Popular_Item_summary_df[['Purchase Count', 'Item Price', 'Total Purchase Value']]

Popular_Item_summary_df

# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value

/Users/abby/miniconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/abby/miniconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:
# Identify the 5 most profitable items by total purchase value, then list (in a table):

#create a new dataframe where the total purchase value is sorted in desending order
Profitable_Item_df = Popular_Item_df.sort_values(by='Total Purchase Value', ascending=False)
#create another dataframe of the top 5 values
Profitable_Item_summary_df = Profitable_Item_df.head()

#format the columns
Profitable_Item_summary_df['Total Purchase Value'] = Profitable_Item_summary_df['Total Purchase Value'].map('${:.2f}'.format)
Profitable_Item_summary_df['Item Price'] = Profitable_Item_summary_df['Item Price'].map('${:.2f}'.format)

#reorder the columns
Profitable_Item_summary_df = Profitable_Item_summary_df[['Purchase Count', 'Item Price', 'Total Purchase Value']]

Profitable_Item_summary_df

# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value

/Users/abby/miniconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/Users/abby/miniconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80

# You must include a written description of three observable trends based on the data.

1. The age group of 20-24 years old had by far more purchases and number of players than any other age group.
2. The number of purchases per age group was fairly a gaussian or normal distribution.
3. The fast majority of players were male.
4. Due to the purchase price, the Item Name "Pursuit, Cudgel of Necromancy" was a very popular item but did not have nearly as much total purchase value.